<section>
    <div class="card mb-3 m-3">
        <div class="row g-0 m-2">
            <div class="col-md-4" style="text-align: center;">
                <img src="/product-image/{{products._id}}.jpg" alt="" class="img-fluid rounded-start"
                    style="height: 300px; width: 380px;" />
                <div class="card-body mt-5" style="justify-content: space-between; display:flex;">
                    <button onclick="addToCart('{{products._id}}'),location.href='/cart' "
                        style="width: 180px; height: 40px;" class="btn btn-primary">Add Cart</button>
                    <button onclick="addToCart('{{products._id}}'),location.href='/placeOrder' "
                        style="width: 180px; height: 40px;" class="btn btn-warning">Buy Now</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{products.name}}</h5>
                        <h6 class="card-text">{{products.description}}</h6>
                        <br>
                        <h2 class="card-title">&#x20b9;{{products.price}}</h2>
                        <p class="card-text">
                        </p>
                        <br>
                        <div class="d-flex">
                            <p class="text-muted">Delivery</p>
                            <form action="">
                                <div style="display: flex;margin-left: 70px; border-bottom: 1px solid; width: 260px;">
                                    <svg width="15" height="15" viewBox="0 0 9 12"
                                        style="margin: auto;margin-bottom: 12px;" class="_1kbGNj"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#2874f0" class="_6xm1dD"
                                            d="M4.2 5.7c-.828 0-1.5-.672-1.5-1.5 0-.398.158-.78.44-1.06.28-.282.662-.44 1.06-.44.828 0 1.5.672 1.5 1.5 0 .398-.158.78-.44 1.06-.28.282-.662.44-1.06.44zm0-5.7C1.88 0 0 1.88 0 4.2 0 7.35 4.2 12 4.2 12s4.2-4.65 4.2-7.8C8.4 1.88 6.52 0 4.2 0z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                    <div>
                                        <input type="text" name="pincode" class="pin"
                                            placeholder="Enter delivery Pincode" maxlength="6" minlength="6" value=""
                                            style="border: none;" required>
                                    </div>
                                    <button class="btn btn-primary btn-sm mb-1" type="submit" onclick="jquery()">
                                        Check</button>
                                </div>
                            </form>
                        </div>
                        <label class="pin">{{value}}</label>
                        <span id="pinStatus"></span></td>
                        </tr>
                        {{!-- <div class="d-flex ">
                            <p class="text-muted">HighLights</p>
                            <div style="margin-left: 70px;">
                                <ul class="text-muted">
                                </ul>
                            </div>
                        </div> --}}
                </div>
            </div>
        </div>
    </div>
</section>




<style>
    input:focus {
        outline: none;
    }
</style>

<script>
    function jquery() {
        (function ($) {
            $('input.pin').focusout(function () {
                var match = $(this).val().match(695);
                if (match) {
                    alert("deliverable")
                }
                else {
                    alert("not deliverable")
                }
            })
        })(jQuery);
    }
</script>