<section>
  <div id="carouselExampleCaptions" class="carousel slide m-1" data-bs-ride="false">
    {{!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div> --}}
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="https://rukminim1.flixcart.com/fk-p-flap/844/140/image/ce9112889e600f9d.jpg?q=50"
          class="d-block w-100" alt="...">
        {{!-- <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div> --}}
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="https://rukminim1.flixcart.com/fk-p-flap/844/140/image/ce9112889e600f9d.jpg?q=50"
          class="d-block w-100" alt="...">
        {{!-- <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div> --}}
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="https://rukminim1.flixcart.com/fk-p-flap/844/140/image/ce9112889e600f9d.jpg?q=50"
          class="d-block w-100" alt="...">
        {{!-- <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div> --}}
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-fluid mt-5 ">
    <div class="row row-cols-1 row-cols-md-4 g-4" id="search">
      {{#each products}}
      <div class="col">
        <div class="card border-0" onclick="location.href='/product-window/{{this._id}}' "
          style="align-items: center; cursor: pointer;">
          <img src="/product-image/{{this._id}}.jpg" id="imgcard" style="width:180px; height:180px ;"
            class="card-img-top mt-3 text-center" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text d-inline-block text-truncate" style="max-width: 200px;">{{this.description}}</p>
          </div>
          <div class="card-text">
            <h5 href="#" class="card-text mb-3">&#8377;{{this.price}}</a>
              {{!-- <a href="#" class="card-link">Another link</a> --}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<style>
  #imgcard:hover {
    z-index: 1;
    transform: scale(1.05, 1.05);
    transition-duration: 0.3s;
  }
</style>